<!DOCTYPE html>
<html class="no-js" lang="ja">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
  {% if template == 'index' %}
  <title>{{ shop.name }}</title>
  {% elsif template == '404' %}
  <title>Page Not Found | {{ shop.name }}</title>
  {% else %}
  <title>{{ page_title }} | {{ shop.name }}</title>
  {% endif %}
  
  {% if page_description %}
  <meta name="description" content="{{ page_description }}">
  {% endif %}

  {{content_for_header}}



        {{ 'slick.css' | asset_url | stylesheet_tag }}
        {{ 'slick-theme.css' | asset_url | stylesheet_tag }}
        
        {{ 'main.css' | asset_url | stylesheet_tag }}
            {%if template == 'index' %}
            {{ 'opening-style.css' | asset_url | stylesheet_tag }}
            {%endif%}
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        
        <link
            href="https://fonts.googleapis.com/css2?family=Arimo&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="https://use.typekit.net/hsd2kyh.css" />
        <script src="https://kit.fontawesome.com/14c63bdccc.js" crossorigin="anonymous"></script>
        <title>津カントリー倶楽部</title>
    </head>

     
     {%if template == 'cart'%}
		
                   <body class="bkWhite postContainer">
    {%elsif template == 'collection'%}
		
                   <body class="bkWhite postContainer">
  
    {%elsif template == 'product'%}
		
                   <body class="bkWhite postContainer">
    
    {%elsif template == 'next-golf-community'%}
		
                   <body class="over-hidden">
 
  
     {% elsif template != 'index' %}
                   <body class="postContainer">
     {% else %}
    <body>
    {% endif %}
    {% section 'header' %}


{{content_for_layout}}
    


    

            <footer id="footer">
            <a href="https://www.facebook.com/tsucountry/" class="sns"><i class="fa-brands fa-facebook-square"></i></a>
            <nav class="footerNav">
                <ul class="menu">
                {% for link in linklists.footer.links %}
                     <li class="menu__item">
                        <a href="{{ link.url }}">{{link.title}}</a>
                     </li>
                {% endfor %}
                </ul>

            </nav>

            <p class="copyright">
                <small class="copyright__txt">© TSU COUNTRY CLUB</small>
            </p>
        </footer>


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        {{ 'slick.min.js' | asset_url | script_tag }}
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/rellax/1.12.1/rellax.min.js"
            integrity="sha512-f5HTYZYTDZelxS7LEQYv8ppMHTZ6JJWglzeQmr0CVTS70vJgaJiIO15ALqI7bhsracojbXkezUIL+35UXwwGrQ=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        ></script>



        
        
        {{ 'main.js' | asset_url | script_tag }}
                    {%if template == 'index' %}
                {{ 'opening-script.js' | asset_url | script_tag }}
                <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.2/gsap.min.js"></script>
            {%endif%}

        
    </body>
</html>
