        {% if template == 'index' %}

        
        
        <header id="header" class="DownMove">
            <button id="hamburger" class="hamburger">
                <span class="hamburger__bar barTop"></span>
                <span class="hamburger__bar barMiddle"></span>
                <span class="hamburger__bar barBottom"></span>
            </button>

            <nav class="globalNav--sp">
                <h2 class="siteLogo">
                    <a href="">
                        <img
                            src="{{ 'siteLogo-sp.png' | asset_img_url: '1200x'}}"
                            alt="津カントリー倶楽部"
                            class="siteLogo__img"
                        />
                    </a>
                </h2>
                <div class="addressWrap--menu">
                    <a
                        class="address__tel address__tel--menu"
                        href="tel:090-9090-0990"
                        ><span class="address__tel--inner"
                            >090-9090-0990</span
                        ></a
                    >
                    <p class="access__btn--menu">
                        <a href="">ご予約 / 料金</a>
                    </p>
                </div>

                <ul class="menu">
                    <li class="menu__item">
                        <a href="reserve-price.html"
                            >GOLF<span class="ruby">ゴルフ</span></a
                        >
                    </li>
                    <li class="menu__item">
                        <a href="course-info.html"
                            >DINNER<span class="ruby">食事</span></a
                        >
                    </li>
                    <li class="menu__item">
                        <a href="facilities.html"
                            >STAY<span class="ruby">宿泊</span></a
                        >
                    </li>
                    <li class="menu__item">
                        <a href="event-info.html"
                            >EVENT<span class="ruby">イベント</span></a
                        >
                    </li>
                    <li class="menu__item menu__item--s">
                        <a href="guidance.html">津カントリー倶楽部について</a>
                    </li>

                    <li class="menu__item menu__item--s">
                        <a href="news.html">アクセス</a>
                    </li>
                </ul>
                <a href="#" class="btn btn--l">ご予約 / 料金</a>
                <a href="" class="sns sns--menu"
                    ><span class="fa-facebook-square"></span
                ></a>

                <p class="copyright">
                    <small class="copyright__txt copyright__txt--menu"
                        >© TSU COUNTRY CLUB</small
                    >
                </p>
            </nav>
            <section class="mainVisual">
                <ul class="slider-1">
                    <li class="slider-1__item slider-1__item01"></li>
                    <li class="slider-1__item slider-1__item02"></li>
                    <li class="slider-1__item slider-1__item03"></li>
                    <li class="slider-1__item slider-1__item04"></li>
                </ul>
                <div class="mainVisual__txtWrap">
                    <h2 class="siteTtl">next golf community</h2>
                    <h1 class="siteLogo">
                        <img
                            src="{{ 'siteLogo.png' | asset_img_url: '1200x'}}"
                            alt="津カントリー倶楽部"
                            class="siteLogo__img"
                        />
                    </h1>
                </div>
            </section>
           

            <nav class="globalNav">
                <ul class="menu">
                {% for link in linklists.main-menu.links %}
                     <li class="menu__item">
                        <a href="{{ link.url }}">{{link.title}}</a>
                     </li>
                {% endfor %}
                </ul>
            </nav>
        </header>

        {% else %}
                <header id="header">
            <button id="hamburger" class="hamburger">
                <span class="hamburger__bar barTop"></span>
                <span class="hamburger__bar barMiddle"></span>
                <span class="hamburger__bar barBottom"></span>
            </button>

            <nav class="globalNav--sp">
                <h2 class="siteLogo">
                    <a href="">
                        <img
                            src="{{'siteLogo-sp.png' | asset_img_url: '2000x'}}"
                            
                            
                            alt="津カントリー倶楽部"
                            class="siteLogo__img"
                        />
                    </a>
                </h2>
                <div class="addressWrap--menu">
                    <a
                        class="address__tel address__tel--menu"
                        href="tel:090-9090-0990"
                        ><span class="address__tel--inner"
                            >090-9090-0990</span
                        ></a
                    >
                    <p class="access__btn--menu">
                        <a href="">ご予約 / 料金</a>
                    </p>
                </div>

                <ul class="menu">
                    <li class="menu__item">
                        <a href="guidance.html"
                            >GOLF<span class="ruby">ゴルフ</span></a
                        >
                    </li>
                    <li class="menu__item">
                        <a href="#">DINNER<span class="ruby">食事</span></a>
                    </li>
                    <li class="menu__item">
                        <a href="#">STAY<span class="ruby">宿泊</span></a>
                    </li>
                    <li class="menu__item">
                        <a href="#">EVENT<span class="ruby">イベント</span></a>
                    </li>
                    <li class="menu__item menu__item--s">
                        <a href="#">津カントリー倶楽部について</a>
                    </li>

                    <li class="menu__item menu__item--s">
                        <a href="#">アクセス</a>
                    </li>
                </ul>
                <a href="#" class="btn btn--l">ご予約 / 料金</a>
                <a href="" class="sns sns--menu"
                    ><span class="fa-facebook-square"></span
                ></a>

                <p class="copyright">
                    <small class="copyright__txt copyright__txt--menu"
                        >© TSU COUNTRY CLUB</small
                    >
                </p>
            </nav>
            <nav class="globalNav-2">
                <p class="pageLogo-pc">
                    <img
                        src="{{'pageLogo-pc.png' | asset_img_url: '2000x' }}"
                        alt="津カントリー倶楽部"
                    />
                </p>
                <ul class="menu">
                    <li class="menu__item">
                        <a href="#">宿泊</a>
                    </li>
                    <li class="menu__item">
                        <a href="#">イベント</a>
                    </li>
                    <li class="menu__item menu__item--s">
                        <a href="">津カントリー倶楽部について </a>
                    </li>
                    <li class="menu__item">
                        <a href="">アクセス </a>
                    </li>
                </ul>
            </nav>
        </header>
        {% endif %}