            <article class="media">
                <figure class="media__img">
                    <img
                        src="{{ 'golf-originalCourse-pc.jpg' | asset_img_url: '3000x'}}"
                        width="513"
                        height="311"
                        alt="戦略性に富むオリジナルコース"
                        class="media__img--pc"
                    />
                    <img
                        src="{{ 'golf-originalCourse-sp.jpg' | asset_img_url: '3000x'}}"
                        width="513"
                        height="311"
                        alt="戦略性に富むオリジナルコース"
                        class="media__img--sp"
                    />
                </figure>
                <div
                    class="media__body js-rellax"
                    data-rellax-speed="3"
                    data-rellax-percentage="0.5"
                >
                    <p class="media__num section__num">01.</p>
                    <h3 class="media__ttl" id="contentsHead01">
                        {{ section.settings.contentsHead01 }} 
                    </h3>
                    {% comment %} <p class="media__text">
                        
                        7000ヤード越えのロングディスタンスのコースは、<br />
                        ツーグリーンと比べてグリーンの面積が広くて<br />
                        難しい場合が多い、ベントのワングリーン<br />
                        身長よりも高いリベットバンカー、<br />
                        レンガに囲まれた大きな池など、<br />
                        戦略的で魅力的なコースがお待ちしています。
                    </p> {% endcomment %}

                    <p class="media__text" id="contentsDetail01">
                    {{ section.settings.contentsDetail01 }} 
                    </p>

                    
                    <a href="{{pages.course.url}}" class="media__btn">詳細はこちら</a>
                  
                </div>
            </article>
            <article class="media media__reverse">
                <figure class="media__img">
                    <img
                        src="{{ 'loge-villa-pc.jpg' | asset_img_url: '3000x'}}"
                        width="513"
                        height="311"
                        alt="戦略性に富むオリジナルコース"
                        class=""
                    />
                </figure>
                <div
                    class="media__body js-rellax"
                    data-rellax-speed="3"
                    data-rellax-percentage="0.5"
                >
                    <p class="media__num section__num">02.</p>
                    <h3 class="media__ttl" id="contentsHead02">
                        {{ section.settings.contentsHead02 }} 
                    </h3>
                    <p class="media__text" id="contentsDetail02">
                        
                        {{ section.settings.contentsDetail02 }} 
                    </p>
                    <a href="{{pages.facility.url}}" class="media__btn">詳細はこちら</a>
                </div>
            </article>

            <article class="media">
                <figure class="media__img">
                    <img
                        src="{{ 'jinja.jpg' | asset_img_url: '3000x'}}"
                        width="513"
                        height="311"
                        alt="倶楽部を見守る椿大神社"
                        class="media__img--pc"
                    />
                    <img
                        src="{{ 'jinja.jpg' | asset_img_url: '3000x'}}"
                        width="513"
                        height="311"
                        alt="倶楽部を見守る椿大神社"
                        class="media__img--sp"
                    />
                </figure>
                <div
                    class="media__body js-rellax"
                    data-rellax-speed="3"
                    data-rellax-percentage="0.5"
                >
                    <p class="media__num section__num">03.</p>
                    <h3 class="media__ttl" id="contentsHead03">
                        
                        {{ section.settings.contentsHead03 }} 
                    </h3>
                    <p class="media__text" id="contentsDetail03">
                        {% comment %} 津カントリー倶楽部の近隣には二千年の歴史を持つ<br />
                        日本最古の神社である椿神山があります。<br />
                        深い竹林の向こうにある椿神山は、<br />
                        津カントリー倶楽部のクラブハウス真正面方向に位置します。<br />
                        椿神山にも大黒様がいらっしゃいます。<br />
                        椿神山はゴルフ場全てを見渡す場所にあるので、<br />
                        毎日私たちのプレーを見守ってくれています。 {% endcomment %}
                        {{ section.settings.contentsDetail03 }} 
                    </p>
                    
                </div>
            </article>



{% schema %}

 {
   "name": "Top Contents",
   "settings": [
     {
       "type": "text",
       "id": "contentsHead01",
       "label": "Top-Contents-Head01"
     },
     {
       "type": "textarea",
       "id": "contentsDetail01",
       "label": "Top-Contents-Detail01"
     },
     {
       "type": "text",
       "id": "contentsHead02",
       "label": "Top-Contents-Head02"
     },
     {
       "type": "textarea",
       "id": "contentsDetail02",
       "label": "Top-Contents-Detail02"
     },
     {
       "type": "text",
       "id": "contentsHead03",
       "label": "Top-Contents-Head03"

     },
     {
       "type": "textarea",
       "id": "contentsDetail03",
       "label": "Top-Contents-Detail03"
     }

   ]
 }



{% endschema %}