        <main>
            <p class="brandLogo">
                <img
                    src="{{'pageLogo-sp.png' | asset_img_url : '2000x'}}"
                    alt="津カントリー倶楽部"
                />
            </p>
            <section class="guidance">
                <div class="guidance__ttl">
                    <h2 class="guidance__ttl--en">Guidance</h2>
                    <h3 class="guidance__ttl--ja">ご案内</h3>
                </div>
                <div class="guidance__img"><img src="{{article.image.src | image_url : width: 500px}}" alt=""></div>
                <h1 class="heading-lv1">{{article.title}}</h1>
                <article class="heading-lv2__wrap">
                  {{article.content}}
                </article>                
            </section>
            <section class="eventInfo guidanceInfo">
                <div class="eventInfo__inner">
                    <ul class="cards">
                     {% for article in blogs['event'].articles %}
                        <li class="cards__item">
                            <a href="{{article.url}}" class="card">
                                <p class="card__ttl">{{article.title}}</p>
                                <figure class="card__figure">
                                    <img
                                        class="card__img"
                                        src="{{article.image.src | image_url : width: 500px}}"
                                        alt="津カントリー倶楽部　イベント情報"
                                    />
                                </figure>
                                <p class="card__link">View more</p>
                            </a>
                        </li>
                        {% endfor %}

                    </ul>
                    <a href="{{blogs.event.url}}" class="btn eventInfo__btn guidance__btn--pc"
                        >イベント情報一覧</a
                    >
                </div>
            </section>
            <a href="{{blogs.event.url}}" class="btn guidance__btn1"
                >イベント情報一覧</a
            >
            <a href="{{shop.url}}" class="btn guidance__btn2">TOPページ</a>
        </main>