
            <p class="brandLogo">
                <img
                    src="{{'pageLogo-sp.png' | asset_img_url : '2000x'}}"
                    alt="津カントリー倶楽部"
                />
            </p>
        <main  class="blogMain">

            {% if blog.handle == 'event' %}

            <h2 class="pageTtl__en">EVENT INFO</h2>
            <h1 class="pageTtl__ja">イベント情報</h1>
            {% else %}
            <h2 class="pageTtl__en">INFORMATION</h2>
            <h1 class="pageTtl__ja">ご案内</h1>
            {% endif %}


            <div class="postsWrap">
                <ul class="posts">
                    {% for article in blog.articles %}
                    <li class="posts__item">
                        <a href="{{article.url}}" class="post">
                            <figure class="post__figure">
                                <img
                                    src="{{article.image.src | image_url : width: 500px}}"
                                    width="538"
                                    height="282"
                                    alt="津カントリー倶楽部　イベント情報"
                                    class="post__img"
                                />
                            </figure>
                            <div class="post__body">
                                <time class="post__date" datetime="2021-00-00"
                                    >{{article.published_at | date: " %y/%m/%d "}}<span class="post__week"
                                        >{{article.published_at | date: " %a "}}</span
                                    ></time
                                >
                                <p class="post__excerpt">
                                    {{article.content | strip_html | truncate: 30, '...'}}
                                </p>
                                <p class="post__link2">View more　</p>
                            </div>
                        </a>
                    </li>
                    {% endfor %}

                </ul>
            </div>
            <a href="{{shop.url}}" class="btn posts__btn">TOPページ</a>
        </main>

