            <div class="reservationBtn">
            <a href="{{pages.reserve.url}}">ご予約</a>
        </div>
        <main class="main">
{% section 'top-about' %}
            <!-- media -->

{% section 'top-media' %}

            <section class="eventInfo">
                <div class="eventInfo__inner">
<!--                     <p class="eventInfo__num section__num">04.</p> -->
                    <h2 class="eventInfo__ttl">EVENT INFO</h2>
                    <h3 class="eventInfo__subTtl">イベント情報</h3>

                    <ul class="cards">
                     {% for article in blogs['event'].articles %}
                        <li class="cards__item">
                            <a href="{{article.url}}" class="card">
                                <p class="card__ttl">{{article.title}}</p>
                                <figure class="card__figure">
                                    <img
                                        class="card__img"
                                        src="{{article.image.src | image_url : width: 500px}}"
                                        alt="津カントリー倶楽部　イベント情報"
                                    />
                                </figure>
                                <p class="card__link">View more</p>
                            </a>
                        </li>
                        {% endfor %}

                    </ul>
                    <a href="{{ blogs['event'].url }}" class="btn eventInfo__btn">イベント情報一覧</a>
                </div>
            </section>

            <section class="access" id="access">
<!--                 <p class="access__num section__num">05.</p> -->
                <h2 class="access__ttl">access</h2>
                <h3 class="access__subTtl">アクセス</h3>
                <address class="address">
                    <h4 class="address__ttl">津カントリー倶楽部</h4>
                    <p class="address__text">
                        〒514ー0077<br />
                        三重県津市片田長谷町30番地
                    </p>
                    <p class="address__tel--pc">
                        予約番号：0120-80-3700<br />
                        電話番号：059-237-3580<br />
                        FAX番号：059-237-3612
                    </p>
                    <a class="address__tel" href="tel:090-9090-0990"
                        ><span class="address__tel--inner"
                            >090-9090-0990</span
                        ></a
                    >
                </address>
                <a href = "{{pages.reserve.url}}"class="access__btn">ご予約 / 料金</a>
                <div class="mapWrap">
                    <iframe
                        class="map1"
                        src="https://www.google.com/maps/embed?pb=!4v1648864602689!6m8!1m7!1sCAoSLEFGMVFpcFBRc25wUHptZDdiWGluWEhWWlVRUnMza2dBM0dwUERxOUUyaE9O!2m2!1d34.7210764!2d136.4290364!3f337.06814120749146!4f0.5980200479936286!5f0.7820865974627469"
                        width="399"
                        height="214"
                        style="border: 0"
                        allowfullscreen=""
                        loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"
                    ></iframe>
                    <iframe
                        class="map2"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d52469.912577721145!2d136.39401747875414!3d34.721078599708534!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6004094539acbd61%3A0xa76396787de8f7f3!2z5rSl44Kr44Oz44OI44Oq44O85YC25qW96YOo!5e0!3m2!1sja!2sjp!4v1648864854308!5m2!1sja!2sjp"
                        width="399"
                        height="214"
                        style="border: 0"
                        allowfullscreen=""
                        loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"
                    ></iframe>
                </div>
            </section>
        </main>