

        <main>
            <a class="brandLogo" href="{{ shop.url }}">
                <img
                    src="{{'pageLogo-sp.png' | asset_img_url: '2000x'}}"
                    alt="津カントリー倶楽部"
                />
            </a>

            <section class="pageVisual pageVisual--res-price">
                <div class="pageVisual__inner">
                    <div class="pageVisual__img--pc"></div>
                    <div class="pageVisual__img--sp"></div>
                    <div class="pageVisual__textWrap">
                        <h2 class="pageVisual__text--en">Reserve / price</h2>
                        <h1 class="pageVisual__text--ja">ご予約 / 料金</h1>
                    </div>
                </div>
            </section>

            <nav class="pageNav">
                <ul class="pageNav__list">
                    <li class="pageNav__item">
                        <a href="#reserve" class="pageNav__link"
                            >ご予約</a
                        >
                    </li>
                    <li class="pageNav__item">
                        <a href="#price" class="pageNav__link">料金案内</a>
                    </li>
                </ul>
            </nav>
        <section class="reserves">
            <div id="reserve" class="sectionHeading">
                <p class="eventInfo__num section__num">01.</p>
                <h2 class="eventInfo__ttl">Reserve</h2>
                <h3 class="eventInfo__subTtl reserve__subTtl">ご予約</h3>
            </div>

            <div class="banners">

                <div class="reserve__area banner">
                    <a href="https://webpack2.jp/mypage/login/member/533302" class="reserve__banner-member"><img src="https://cdn.shopify.com/s/files/1/0616/2949/7533/files/03-04.png?v=1656837948" alt=""></a>
                    <a href="https://webpack2.jp/reserve/calendar/visitor/533302" class="reserve__banner-visitor"><img src="https://cdn.shopify.com/s/files/1/0616/2949/7533/files/03-03.png?v=1656837948" alt=""></a>
                </div>

                
                <div class="accordion__section">
                            <h3 class="accordion__title">
                                 My Page<span class="accordion__title--ja">ご予約状況の確認</span>
                            </h3>
                            <div class="accordion__box" style="display: none;">
                                {% comment %} <p class="accordion__text">
                                    Lodge 棟には 24m
                                    24部屋のツインルームがあります。ミニマムな造りながら、天然素材を使用した質感とこだわりのリネンによる寝心地を重視した設計・仕様となっています。小高い丘に建つ、18番ホールを望む絶景のVillaはツインルームとキングサイズベットのお部屋があります。自慢の檜風呂は半露天式です。
                                </p> {% endcomment %}
                                <div class="mypage__area banner">
                                    <a href="https://webpack2.jp/mypage/login/member/533302" class="mypage__banner-member"><img src="https://cdn.shopify.com/s/files/1/0616/2949/7533/files/03-04.png?v=1656837948" alt=""></a>
                                    <a href="https://webpack2.jp/mypage/login/visitor/533302" class="mypage__banner-visitor"><img src="https://cdn.shopify.com/s/files/1/0616/2949/7533/files/03-03.png?v=1656837948" alt=""></a>
                                </div>


                            </div>
                </div>

            
            </div>

            <div class="newMember">
                <a href="https://webpack2.jp/member/regist/entry/533302"><img src="https://cdn.shopify.com/s/files/1/0616/2949/7533/files/03-02.png?v=1656837948" alt=""></a>
            </div>
        </section>

{% comment %}予約動線の追加

            <div class="iframe-plan">
                <iframe
                    src="https://webpack2.jp/iframeApp/533302"
                    width="566"
                    height="361"
                    style="margin: 0 auto"
                ></iframe>
            </div>




            <a class="iframe-plan-sp  res-price__btn1" href="https://webpack2.jp/reserve/calendar/visitor/533302">
              <img src="{{'reserve_banner.jpg' | asset_img_url : '2000x'}}" alt="予約バナー">

            </a>

 ここまで {% endcomment %}

 

            <div id="price" class="sectionHeading">
                <p class="eventInfo__num section__num">02.</p>
                <h2 class="eventInfo__ttl">price</h2>
                <h3 class="eventInfo__subTtl price__subTtl">料金表</h3>
            </div>
            <section class="table-grid">
                <table class="table order1">
                    <caption class="table__ttl">
                        基本料金（利用税・振興基金別）
                    </caption>
                    <tbody>
                        <tr class="text-16">
                            <th class="table__bgc">&mdash;</th>
                            <th class="table__bgc text-15-400">平日・祝日</th>
                            <th class="table__bgc text-15-400">土日</th>
                        </tr>
                        <tr class="text-16">
                            <th class="table__bgc">M</th>
                            <td>5,800円</td>
                            <td>5,800円</td>
                        </tr>
                        <tr class="text-16">
                            <th class="table__bgc">MM</th>
                            <td>5,800円</td>
                            <td>8,000円</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table order2">
                    <caption class="table__ttl">
                        キャディフィ
                    </caption>
                    <tbody>
                        <tr class="text-15-400">
                            <th class="table__bgc">&mdash;</th>
                            <th class="table__bgc">4B</th>
                            <th class="table__bgc">3B</th>
                            <th class="table__bgc">2B</th>
                            <th class="table__bgc">1B</th>
                        </tr>
                        <tr class="text-14">
                            <th class="table__bgc text-15-200">M-MM-FL</th>
                            <td>3,300円</td>
                            <td>4,400円</td>
                            <td>5,500円</td>
                            <td>11,000円</td>
                        </tr>
                        <tr class="text-14">
                            <th class="table__bgc text-15-200">ゲスト</th>
                            <td>4,000円</td>
                            <td>5,000円</td>
                            <td>7,000円</td>
                            <td>14,000円</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table order3">
                    <caption class="table__ttl">
                        バック差額
                    </caption>
                    <tbody class="text-15-400">
                        <tr>
                            <th class="table__bgc text-15-200">ゲストのみ</th>
                            <th class="table__bgc">3B</th>
                            <th class="table__bgc">2B</th>
                            <th class="table__bgc">1B</th>
                        </tr>
                        <tr>
                            <th class="table__bgc">平日</th>
                            <td class="bd-none"></td>
                            <td class="bd-none">無料</td>
                            <td class="bd-none"></td>
                        </tr>
                        <tr>
                            <th class="table__bgc">土日祝</th>
                            <td>500円</td>
                            <td>1,400円</td>
                            <td>4,000円</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table order4">
                    <caption class="table__ttl">
                        カートフィ追加料金（お一人様）
                    </caption>
                    <tbody class="text-15-400">
                        <tr>
                            <th class="table__bgc">&mdash;</th>
                            <th class="table__bgc">3B</th>
                            <th class="table__bgc">2B</th>
                            <th class="table__bgc">1B</th>
                        </tr>
                        <tr>
                            <th class="table__bgc">平日</th>
                            <td class="bd-none"></td>
                            <td class="bd-none">無料</td>
                            <td class="bd-none"></td>
                        </tr>
                        <tr>
                            <th class="table__bgc">土日祝</th>
                            <td>400円</td>
                            <td>1,200円</td>
                            <td>3,600円</td>
                        </tr>
                    </tbody>
                </table>

                <table class="table h78 order5">
                    <caption class="table__ttl">
                        コンペ
                    </caption>
                    <tr class="text-15-400">
                        <th class="table__bgc longBox">
                            コンペパック<br /><span class="text-13"
                                >(昼食、昼食時1ドリンク、茶店各1ドリンク）</span
                            >
                        </th>
                        <th class="center shortBox">2,000円</th>
                    </tr>
                </table>
                <div class="tableWrap order6">
                    <table class="table m0">
                        <caption class="table__ttl">
                            パーティ料理
                        </caption>
                        <tr class="text-15-400">
                            <th class="table__bgc longBox">
                                軽食パック<br /><span class="text-13 lh"
                                    >（サンドイッチ、揚げ物盛合せ、1ソフトドリンク）</span
                                >
                            </th>
                            <th class="center shortBox">1,500円</th>
                        </tr>
                    </table>
                    <table class="table m0">
                        <tr class="text-15-400">
                            <th class="table__bgc longBox longBox2">
                                パーティパック<br /><span class="text-13"
                                    >（和洋料理3種＜ごはん・吸い物・フルーツ＞<br />
                                    1ソフトドリンク</span
                                >
                            </th>
                            <th class="center shortBox">2,000円</th>
                        </tr>
                    </table>
                    <table class="table">
                        <tr class="text-15-400">
                            <th class="table__bgc longBox">
                                松花堂弁当<br /><span class="text-13 lh"
                                    >（季節のお弁当）</span
                                >
                            </th>
                            <th class="center shortBox">2,500円</th>
                        </tr>
                    </table>
                </div>
                <table class="table order7 mt1">
                    <caption class="table__ttl">
                        0.5R追加
                    </caption>
                    <tbody class="text-15-400">
                        <tr>
                            <th class="table__bgc">&mdash;</th>
                            <th class="table__bgc">平日</th>
                            <th class="table__bgc">土日祝</th>
                        </tr>
                        <tr>
                            <th class="table__bgc">M</th>
                            <td>1,100円</td>
                            <td>1,100円</td>
                        </tr>
                        <tr>
                            <th class="table__bgc">MM</th>
                            <td>1,100円</td>
                            <td>1,700円</td>
                        </tr>
                        <tr>
                            <th class="table__bgc text-15-200">ゲスト</th>
                            <td>1,700円</td>
                            <td>2,800円</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table order9 mt2">
                    <caption class="table__ttl">
                        1.5R追加
                    </caption>
                    <tbody class="text-15-400">
                        <tr>
                            <th class="table__bgc">&mdash;</th>
                            <th class="table__bgc">M</th>
                            <th class="table__bgc">MM</th>
                            <th class="table__bgc">G</th>
                        </tr>
                        <tr>
                            <th class="table__bgc">平日</th>
                            <td>1,000円</td>
                            <td>1,000円</td>
                            <td>1,500円</td>
                        </tr>
                        <tr>
                            <th class="table__bgc">土日祝</th>
                            <td>1,000円</td>
                            <td>1,500円</td>
                            <td>2,500円</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table order8">
                    <caption class="table__ttl">
                        キャンセルフィ
                    </caption>
                    <tbody>
                        <tr class="text-15-400">
                            <th class="table__bgc">&mdash;</th>
                            <th class="table__bgc">&mdash;</th>
                            <th class="table__bgc">連絡期日</th>
                            <th class="table__bgc">平日</th>
                            <th class="table__bgc">土日祝</th>
                        </tr>
                        <tr class="text-15-200">
                            <th
                                rowspan="3"
                                class="table__bgc text-15-200 center"
                            >
                                1組予約
                            </th>
                            <td>M</td>
                            <td rowspan="3" class="center">3日前AM</td>
                            <td class="text-14">なし</td>
                            <td class="text-14">4,400円/組</td>
                        </tr>
                        <tr class="text-14">
                            <td>MM</td>
                            <td>4,400円/組</td>
                            <td>8,800円/組</td>
                        </tr>
                        <tr class="text-14">
                            <td class="text-15-200">ゲスト</td>
                            <td>8,800円/組</td>
                            <td class="text-14-100">17,600円/組</td>
                        </tr>
                        <tr class="text-15-200">
                            <th
                                rowspan="2"
                                class="table__bgc text-15-200 center"
                            >
                                月例競技
                            </th>
                            <td>M</td>
                            <td rowspan="2" class="center">3日前AM</td>
                            <td class="text-14">なし</td>
                            <td class="text-14">2,200円/組</td>
                        </tr>
                        <tr class="text-14">
                            <td>MM</td>
                            <td class="text-14">なし</td>
                            <td>2,200円/組</td>
                        </tr>
                        <tr class="text-14">
                            <th class="table__bgc text-15-200">ネット</th>
                            <td class="text-15-200">なし</td>
                            <td class="text-15-200">なし</td>
                            <td>4,400円/組</td>
                            <td>5,500円/組</td>
                        </tr>
                    </tbody>
                </table>
            </section>
            {% comment %} <div class="table__note--wrap">
                <p class="table__note">料金表：</p>
                <p class="table__note">電話予約：</p>
                <p class="table__note">ネット予約：</p>
            </div> {% endcomment %}
            <div class="res-price__btn--wrap">
                <a href="{{pages.course.url}}" class="btn res-price__btn1">コースガイド</a>
                <a href="{{pages.facility.url}}" class="btn res-price__btn2">施設案内はこちら</a>
            </div>
        </main>
