

        <main>
            <p class="brandLogo">
                <img
                    src="{{ 'pageLogo-sp.png' | asset_img_url: '3000x'}}"
                    alt="津カントリー倶楽部"
                />
            </p>

            <section class="pageVisual pageVisual--res-price">
                <div class="pageVisual__inner">
                    <div class="pageVisual__img--pc"></div>
                    <div class="pageVisual__img--sp"></div>
                    <div class="pageVisual__textWrap">
                        <h2 class="pageVisual__text--en">Course information</h2>
                        <h1 class="pageVisual__text--ja">コース概要</h1>
                    </div>
                </div>
            </section>

            <div class="sectionHeading">
                <p class="eventInfo__num section__num">01.</p>
                <h2 class="eventInfo__ttl">Course information</h2>
                <h3 class="eventInfo__subTtl reserve__subTtl">コース概要</h3>
            </div>
            <section class="courseNumber">
                <hr class="courseNumber__hr" />
            </section>
            <ul class="slider-4 js-slider">
                <li class="slider-4__item slider-4__item01 hole">
                    <figcaption class="hole__header">
                        <p class="hole__num">1</p>
                        <p class="hole__text--l">HOLE</p>
                    </figcaption>
                    <figure class="hole__img">
                        <p class="hole__text--s">Par:4 HDCP:11</p>
                        <img
                            src="{{ '1.jpg' | asset_img_url: '3000x'}}"
                            width="222"
                            height="402"
                            alt="津カントリー倶楽部　1番ホール"
                        />
                    </figure>
                </li>
                <li class="slider-4__item slider-4__item02 hole">
                    <figcaption class="hole__header">
                        <p class="hole__num">2</p>
                        <p class="hole__text--l">HOLE</p>
                    </figcaption>
                    <figure class="hole__img">
                        <p class="hole__text--s">Par:3 HDCP:17</p>

                        <img
                            src="{{ '2.jpg' | asset_img_url: '3000x'}}"
                            width="222"
                            height="402"
                            alt="津カントリー倶楽部　2番ホール"
                        />
                    </figure>
                </li>
                <li class="slider-4__item slider-4__item03 hole">
                    <figcaption class="hole__header">
                        <p class="hole__num">3</p>
                        <p class="hole__text--l">HOLE</p>
                    </figcaption>
                    <figure class="hole__img">
                        <p class="hole__text--s">Par:4 HDCP:1</p>

                        <img
                            
                            src="{{ '3.jpg' | asset_img_url: '3000x'}}"
                            width="222"
                            height="402"
                            alt="津カントリー倶楽部　3番ホール"
                        />
                    </figure>
                </li>
                <li id="aaa" class="slider-4__item slider-4__item04 hole">
                    <figcaption class="hole__header">
                        <p class="hole__num">4</p>
                        <p class="hole__text--l">HOLE</p>
                    </figcaption>
                    <figure class="hole__img">
                        <p class="hole__text--s">Par:4 HDCP:11</p>

                        <img
                            src="{{ '4.jpg' | asset_img_url: '3000x'}}"
                            width="222"
                            height="402"
                            alt="津カントリー倶楽部　4番ホール"
                        />
                    </figure>
                </li>
                <li id="aaa" class="slider-4__item slider-4__item04 hole">
                    <figcaption class="hole__header">
                        <p class="hole__num">5</p>
                        <p class="hole__text--l">HOLE</p>
                    </figcaption>
                    <figure class="hole__img">
                        <p class="hole__text--s">Par:4 HDCP:11</p>

                        <img
                            src="{{ '5.jpg' | asset_img_url: '3000x'}}"
                            width="222"
                            height="402"
                            alt="津カントリー倶楽部　5番ホール"
                        />
                    </figure>
                </li>
                <li id="aaa" class="slider-4__item slider-4__item04 hole">
                    <figcaption class="hole__header">
                        <p class="hole__num">6</p>
                        <p class="hole__text--l">HOLE</p>
                    </figcaption>
                    <figure class="hole__img">
                        <p class="hole__text--s">Par:4 HDCP:11</p>

                        <img
                            src="{{ '6.jpg' | asset_img_url: '3000x'}}"
                            width="222"
                            height="402"
                            alt="津カントリー倶楽部　6番ホール"
                        />
                    </figure>
                </li>
                <li id="aaa" class="slider-4__item slider-4__item04 hole">
                    <figcaption class="hole__header">
                        <p class="hole__num">7</p>
                        <p class="hole__text--l">HOLE</p>
                    </figcaption>
                    <figure class="hole__img">
                        <p class="hole__text--s">Par:4 HDCP:11</p>

                        <img
                            src="{{ '7.jpg' | asset_img_url: '3000x'}}"
                            width="222"
                            height="402"
                            alt="津カントリー倶楽部　7番ホール"
                        />
                    </figure>
                </li>
                <li id="aaa" class="slider-4__item slider-4__item04 hole">
                    <figcaption class="hole__header">
                        <p class="hole__num">8</p>
                        <p class="hole__text--l">HOLE</p>
                    </figcaption>
                    <figure class="hole__img">
                        <p class="hole__text--s">Par:4 HDCP:11</p>

                        <img
                            src="{{ '8.jpg' | asset_img_url: '3000x'}}"
                            width="222"
                            height="402"
                            alt="津カントリー倶楽部　8番ホール"
                        />
                    </figure>
                </li>
                <li id="aaa" class="slider-4__item slider-4__item04 hole">
                    <figcaption class="hole__header">
                        <p class="hole__num">9</p>
                        <p class="hole__text--l">HOLE</p>
                    </figcaption>
                    <figure class="hole__img">
                        <p class="hole__text--s">Par:4 HDCP:11</p>

                        <img
                            src="{{ '9.jpg' | asset_img_url: '3000x'}}"
                            width="222"
                            height="402"
                            alt="津カントリー倶楽部　9番ホール"
                        />
                    </figure>
                </li>
                <li id="aaa" class="slider-4__item slider-4__item04 hole">
                    <figcaption class="hole__header">
                        <p class="hole__num">10</p>
                        <p class="hole__text--l">HOLE</p>
                    </figcaption>
                    <figure class="hole__img">
                        <p class="hole__text--s">Par:4 HDCP:11</p>

                        <img
                            src="{{ '10.jpg' | asset_img_url: '3000x'}}"
                            width="222"
                            height="402"
                            alt="津カントリー倶楽部　10番ホール"
                        />
                    </figure>
                </li>
                <li id="aaa" class="slider-4__item slider-4__item04 hole">
                    <figcaption class="hole__header">
                        <p class="hole__num">11</p>
                        <p class="hole__text--l">HOLE</p>
                    </figcaption>
                    <figure class="hole__img">
                        <p class="hole__text--s">Par:4 HDCP:11</p>

                        <img
                            src="{{ '11.jpg' | asset_img_url: '3000x'}}"
                            width="222"
                            height="402"
                            alt="津カントリー倶楽部　11番ホール"
                        />
                    </figure>
                </li>
                <li id="aaa" class="slider-4__item slider-4__item04 hole">
                    <figcaption class="hole__header">
                        <p class="hole__num">12</p>
                        <p class="hole__text--l">HOLE</p>
                    </figcaption>
                    <figure class="hole__img">
                        <p class="hole__text--s">Par:4 HDCP:11</p>

                        <img
                            src="{{ '12.jpg' | asset_img_url: '3000x'}}"
                            width="222"
                            height="402"
                            alt="津カントリー倶楽部　12番ホール"
                        />
                    </figure>
                </li>
                <li id="aaa" class="slider-4__item slider-4__item04 hole">
                    <figcaption class="hole__header">
                        <p class="hole__num">13</p>
                        <p class="hole__text--l">HOLE</p>
                    </figcaption>
                    <figure class="hole__img">
                        <p class="hole__text--s">Par:4 HDCP:11</p>

                        <img
                            src="{{ '13.jpg' | asset_img_url: '3000x'}}"
                            width="222"
                            height="402"
                            alt="津カントリー倶楽部　13番ホール"
                        />
                    </figure>
                </li>
                <li id="aaa" class="slider-4__item slider-4__item04 hole">
                    <figcaption class="hole__header">
                        <p class="hole__num">14</p>
                        <p class="hole__text--l">HOLE</p>
                    </figcaption>
                    <figure class="hole__img">
                        <p class="hole__text--s">Par:4 HDCP:11</p>

                        <img
                            src="{{ '14.jpg' | asset_img_url: '3000x'}}"
                            width="222"
                            height="402"
                            alt="津カントリー倶楽部　14番ホール"
                        />
                    </figure>
                </li>
                <li id="aaa" class="slider-4__item slider-4__item04 hole">
                    <figcaption class="hole__header">
                        <p class="hole__num">15</p>
                        <p class="hole__text--l">HOLE</p>
                    </figcaption>
                    <figure class="hole__img">
                        <p class="hole__text--s">Par:4 HDCP:11</p>

                        <img
                            src="{{ '15.jpg' | asset_img_url: '3000x'}}"
                            width="222"
                            height="402"
                            alt="津カントリー倶楽部　15番ホール"
                        />
                    </figure>
                </li>
                <li id="aaa" class="slider-4__item slider-4__item04 hole">
                    <figcaption class="hole__header">
                        <p class="hole__num">16</p>
                        <p class="hole__text--l">HOLE</p>
                    </figcaption>
                    <figure class="hole__img">
                        <p class="hole__text--s">Par:4 HDCP:11</p>

                        <img
                            src="{{ '16.jpg' | asset_img_url: '3000x'}}"
                            width="222"
                            height="402"
                            alt="津カントリー倶楽部　16番ホール"
                        />
                    </figure>
                </li>
                <li id="aaa" class="slider-4__item slider-4__item04 hole">
                    <figcaption class="hole__header">
                        <p class="hole__num">17</p>
                        <p class="hole__text--l">HOLE</p>
                    </figcaption>
                    <figure class="hole__img">
                        <p class="hole__text--s">Par:4 HDCP:11</p>

                        <img
                            src="{{ '17.jpg' | asset_img_url: '3000x'}}"
                            width="222"
                            height="402"
                            alt="津カントリー倶楽部　17番ホール"
                        />
                    </figure>
                </li>
                <li id="aaa" class="slider-4__item slider-4__item04 hole">
                    <figcaption class="hole__header">
                        <p class="hole__num">18</p>
                        <p class="hole__text--l">HOLE</p>
                    </figcaption>
                    <figure class="hole__img">
                        <p class="hole__text--s">Par:4 HDCP:11</p>

                        <img
                            src="{{ '18.jpg' | asset_img_url: '3000x'}}"
                            width="222"
                            height="402"
                            alt="津カントリー倶楽部　18番ホール"
                        />
                    </figure>
                </li>
            </ul>

            <div class="sectionHeading">
                <p class="eventInfo__num section__num">02</p>
                <h2 class="eventInfo__ttl">Yardage</h2>
                <h3 class="eventInfo__subTtl price__subTtl">ヤーデージ</h3>
            </div>
            <section class="tableCourse">
                <table class="table table--course">
                    <tbody class="tbody--course">
                        <tr class="text-15-200">
                            <th class="table__bgc th-en w17 text-13-100">
                                Hole
                            </th>
                            <th class="table__bgc text-14-400">1</th>
                            <th class="table__bgc text-14-400">2</th>
                            <th class="table__bgc text-14-400">3</th>
                            <th class="table__bgc text-14-400">4</th>
                            <th class="table__bgc text-14-400">5</th>
                            <th class="table__bgc text-14-400">6</th>
                            <th class="table__bgc text-14-400">7</th>
                            <th class="table__bgc text-14-400">8</th>
                            <th class="table__bgc text-14-400">9</th>
                            <th class="table__bgc th-en w11 text-13-100">
                                Out
                            </th>
                        </tr>
                        <tr class="text-15-200">
                            <th class="table__bgc th-en">Par.</th>
                            <td>4</td>
                            <td>3</td>
                            <td>4</td>
                            <td>5</td>
                            <td>4</td>
                            <td>3</td>
                            <td>4</td>
                            <td>5</td>
                            <td>4</td>
                            <td>36</td>
                        </tr>
                        <tr class="text-15-200">
                            <th class="table__bgc th-en aa">Champion</th>
                            <td>419</td>
                            <td>216</td>
                            <td>421</td>
                            <td>518</td>
                            <td>431</td>
                            <td>163</td>
                            <td>360</td>
                            <td>558</td>
                            <td>409</td>
                            <td>3495</td>
                        </tr>
                        <tr class="text-15-200">
                            <th class="table__bgc th-en">Back</th>
                            <td>398</td>
                            <td>197</td>
                            <td>395</td>
                            <td>497</td>
                            <td>402</td>
                            <td>145</td>
                            <td>342</td>
                            <td>553</td>
                            <td>383</td>
                            <td>3292</td>
                        </tr>
                        <tr class="text-15-200">
                            <th class="table__bgc th-en">Reg.</th>
                            <td>373</td>
                            <td>180</td>
                            <td>375</td>
                            <td>474</td>
                            <td>363</td>
                            <td>128</td>
                            <td>311</td>
                            <td>506</td>
                            <td>360</td>
                            <td>3070</td>
                        </tr>
                        <tr class="text-15-200">
                            <th class="table__bgc th-en">Front</th>
                            <td>331</td>
                            <td>152</td>
                            <td>346</td>
                            <td>411</td>
                            <td>322</td>
                            <td>104</td>
                            <td>289</td>
                            <td>461</td>
                            <td>324</td>
                            <td>2740</td>
                        </tr>
                        <tr class="text-15-200">
                            <th class="table__bgc th-en">Ladies</th>
                            <td>256</td>
                            <td>90</td>
                            <td>291</td>
                            <td>364</td>
                            <td>271</td>
                            <td>80</td>
                            <td>220</td>
                            <td>353</td>
                            <td>287</td>
                            <td>2217</td>
                        </tr>
                        <tr class="text-15-200">
                            <th class="table__bgc th-en">Hdcp.</th>
                            <td class="table__bgc">9</td>
                            <td class="table__bgc">11</td>
                            <td class="table__bgc">1</td>
                            <td class="table__bgc">13</td>
                            <td class="table__bgc">5</td>
                            <td class="table__bgc">15</td>
                            <td class="table__bgc">17</td>
                            <td class="table__bgc">3</td>
                            <td class="table__bgc">7</td>
                            <td class="table__bgc"></td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table--course">
                    <tbody class="tbody--course">
                        <tr class="text-15-200 text-14-400">
                            <th class="table__bgc th-en w17 text-13-100">
                                Hole
                            </th>
                            <th class="table__bgc">10</th>
                            <th class="table__bgc">11</th>
                            <th class="table__bgc">12</th>
                            <th class="table__bgc">13</th>
                            <th class="table__bgc">14</th>
                            <th class="table__bgc">15</th>
                            <th class="table__bgc">16</th>
                            <th class="table__bgc">17</th>
                            <th class="table__bgc">18</th>
                            <th class="table__bgc th-en w11 text-13-100">In</th>
                        </tr>
                        <tr class="text-15-200">
                            <th class="table__bgc th-en">Par.</th>
                            <td>4</td>
                            <td>3</td>
                            <td>4</td>
                            <td>4</td>
                            <td>5</td>
                            <td>3</td>
                            <td>4</td>
                            <td>4</td>
                            <td>5</td>
                            <td>36</td>
                        </tr>
                        <tr class="text-15-200">
                            <th class="table__bgc th-en aa">Champion</th>
                            <td>391</td>
                            <td>190</td>
                            <td>455</td>
                            <td>397</td>
                            <td>527</td>
                            <td>227</td>
                            <td>408</td>
                            <td>388</td>
                            <td>545</td>
                            <td>3528</td>
                        </tr>
                        <tr class="text-15-200">
                            <th class="table__bgc th-en">Back</th>
                            <td>370</td>
                            <td>174</td>
                            <td>435</td>
                            <td>379</td>
                            <td>507</td>
                            <td>194</td>
                            <td>382</td>
                            <td>365</td>
                            <td>523</td>
                            <td>3329</td>
                        </tr>
                        <tr class="text-15-200">
                            <th class="table__bgc th-en">Reg.</th>
                            <td>345</td>
                            <td>155</td>
                            <td>417</td>
                            <td>357</td>
                            <td>486</td>
                            <td>180</td>
                            <td>347</td>
                            <td>336</td>
                            <td>485</td>
                            <td>3108</td>
                        </tr>
                        <tr class="text-15-200">
                            <th class="table__bgc th-en">Front</th>
                            <td>322</td>
                            <td>125</td>
                            <td>377</td>
                            <td>317</td>
                            <td>436</td>
                            <td>142</td>
                            <td>319</td>
                            <td>295</td>
                            <td>443</td>
                            <td>2776</td>
                        </tr>
                        <tr class="text-15-200">
                            <th class="table__bgc th-en">Ladies</th>
                            <td>282</td>
                            <td>75</td>
                            <td>273</td>
                            <td>260</td>
                            <td>383</td>
                            <td>142</td>
                            <td>260</td>
                            <td>240</td>
                            <td>357</td>
                            <td>2272</td>
                        </tr>
                        <tr class="text-15-200">
                            <th class="table__bgc th-en">Hdcp.</th>
                            <td class="table__bgc">16</td>
                            <td class="table__bgc">18</td>
                            <td class="table__bgc">2</td>
                            <td class="table__bgc">12</td>
                            <td class="table__bgc">8</td>
                            <td class="table__bgc">14</td>
                            <td class="table__bgc">6</td>
                            <td class="table__bgc">4</td>
                            <td class="table__bgc">10</td>
                            <td class="table__bgc"></td>
                        </tr>
                    </tbody>
                </table>
            </section>
            <div class="res-price__btn--wrap">
                <a href="{{pages.reserve.url}}" class="btn res-price__btn1">ご予約/料金はこちら</a>
                <a href="{{pages.facility.url}}" class="btn res-price__btn2">施設案内はこちら</a>
            </div>
        </main>