

        <main>
            <a class="brandLogo" href="{{ shop.url }}">
                <img
                    src="{{'pageLogo-sp.png' | asset_img_url: '2000x'}}"
                    alt="津カントリー倶楽部"
                />
            </a>

            <section class="pageVisual">
                <div class="pageVisual__inner">
                    <div class="pageVisual__img--pc"></div>
                    <div class="pageVisual__img--sp"></div>
                    <div class="pageVisual__textWrap">
                        <h2 class="pageVisual__text--en">
                            Facility information
                        </h2>
                        <h1 class="pageVisual__text--ja">施設案内</h1>
                    </div>
                </div>
            </section>
            <h2 class="conteTtl">KATADA Lodge & Villa</h2>

            <div class="faci-postsWrap">
                <article class="faci-posts">
                    <ul class="slider-3 faci-posts__item">
                        <li class="slider-3__item slider-3__item01">
                            <figure class="faci-post__figure">
                                <img
                                    src="{{'katada.jpg' | asset_img_url: '2000x'}}"
                                    width="538"
                                    height="282"
                                    alt="KATADA Lodge & Villa"
                                    class="faci-post__img"
                                />
                            </figure>
                            <div class="faci-post__body">
                                <p class="faci-post__excerpt">
                                    ここにテキストここにテキストここにテキストここにテキストここに
                                    テキストここにテキストここにテキストここに
                                    ここにテキストここにテキストここにテキストここにテキストここに
                                    テキストここにテキストここにテキストここに
                                </p>
                            </div>
                        </li>
                        <li class="slider-3__item slider-3__item02">
                            <figure class="faci-post__figure">
                                <img
                                    src="{{'katada.jpg' | asset_img_url: '2000x'}}"
                                    width="538"
                                    height="282"
                                    alt="KATADA Lodge & Villa"
                                    class="faci-post__img"
                                />
                            </figure>
                            <div class="faci-post__body">
                                <p class="faci-post__excerpt">
                                    ここにテキストここにテキストここにテキストここにテキストここに
                                    テキストここにテキストここにテキストここに
                                    ここにテキストここにテキストここにテキストここにテキストここに
                                    テキストここにテキストここにテキストここに
                                </p>
                            </div>
                        </li>
                        <li class="slider-3__item slider-3__item03">
                            <figure class="faci-post__figure">
                                <img
                                    src="{{'katada.jpg' | asset_img_url: '2000x'}}"
                                    width="538"
                                    height="282"
                                    alt="KATADA Lodge & Villa"
                                    class="faci-post__img"
                                />
                            </figure>
                            <div class="faci-post__body">
                                <p class="faci-post__excerpt">
                                    ここにテキストここにテキストここにテキストここにテキストここに
                                    テキストここにテキストここにテキストここに
                                    ここにテキストここにテキストここにテキストここにテキストここに
                                    テキストここにテキストここにテキストここに
                                </p>
                            </div>
                        </li>
                        <li class="slider-3__item slider-3__item04">
                            <figure class="faci-post__figure">
                                <img
                                    src="{{'katada.jpg' | asset_img_url: '2000x'}}"
                                    width="538"
                                    height="282"
                                    alt="KATADA Lodge & Villa"
                                    class="faci-post__img"
                                />
                            </figure>
                            <div class="faci-post__body">
                                <p class="faci-post__excerpt">
                                    ここにテキストここにテキストここにテキストここにテキストここに
                                    テキストここにテキストここにテキストここに
                                    ここにテキストここにテキストここにテキストここにテキストここに
                                    テキストここにテキストここにテキストここに
                                </p>
                            </div>
                        </li>
                    </ul>
                </article>
                <ul class="accordion">
                    <li class="accordion__list">
                        <section class="accordion__section">
                            <h3 class="accordion__title">
                                ROOM<span class="accordion__title--ja"
                                    >お部屋のご案内</span
                                >
                            </h3>
                            <div class="accordion__box">
                                <p class="accordion__text">
                                    Lodge 棟には 24m
                                    24部屋のツインルームがあります。ミニマムな造りながら、天然素材を使用した質感とこだわりのリネンによる寝心地を重視した設計・仕様となっています。小高い丘に建つ、18番ホールを望む絶景のVillaはツインルームとキングサイズベットのお部屋があります。自慢の檜風呂は半露天式です。
                                </p>
                            </div>
                        </section>
                    </li>

                    <li class="accordion__list">
                        <section class="accordion__section">
                            <h3 class="accordion__title">
                                Bathroom<span class="accordion__title--ja"
                                    >入浴場のご案内</span
                                >
                            </h3>
                            <div class="accordion__box">
                                <p class="accordion__text">
                                    24m2の里山を望むlaboratory。80m2のダイニング&バーからなるlounge棟と庭とつなぐアウトドアキッチンを配した大谷石のConservatory。調度品は地元の木工作家や廣永窯や伊賀焼で設えています。また、現在の魯山人こと福森雅武氏の「土楽食楽」の料理哲学を伝承・実践しおもてなししております。
                                </p>
                            </div>
                        </section>
                    </li>
                </ul>
            </div>

            <section class="thumbnail">
                <ul class="thumbnail__list">
                    <li class="thumbnail__item">
                        <a href="" class="thumbnail__link">
                            <img
                                src="{{'loge-villa.jpg' | asset_img_url: '2000x'}}"
                                width="284"
                                height="179"
                                alt="津カントリー倶楽部　クラブハウス"
                            />

                            <div class="thumbnail__ttl--wrap">
                                <p class="thumbnail__ttl--en">club house</p>
                                <p class="thumbnail__ttl--ja">クラブハウス</p>
                            </div>
                        </a>
                    </li>
                    <li class="thumbnail__item">
                        <a href="" class="thumbnail__link">
                            <img
                                src="{{'loge-villa.jpg' | asset_img_url: '2000x'}}"
                                width="284"
                                height="179"
                                alt="津カントリー倶楽部　レストラン"
                            />

                            <div class="thumbnail__ttl--wrap">
                                <p class="thumbnail__ttl--en">restaurant</p>
                                <p class="thumbnail__ttl--ja">レストラン</p>
                            </div>
                        </a>
                    </li>
                    <li class="thumbnail__item">
                        <a href="" class="thumbnail__link">
                            <img
                                src="{{'loge-villa.jpg' | asset_img_url: '2000x'}}"
                                width="284"
                                height="179"
                                alt="津カントリー倶楽部　ラウンジ「フォンテンブロウ」"
                            />

                            <div class="thumbnail__ttl--wrap">
                                <p class="thumbnail__ttl--en">Lounge</p>
                                <p class="thumbnail__ttl--ja">
                                    ラウンジ「フォンテンブロウ」
                                </p>
                            </div>
                        </a>
                    </li>
                    <li class="thumbnail__item">
                        <a href="" class="thumbnail__link">
                            <img
                                src="{{'loge-villa.jpg' | asset_img_url: '2000x'}}"
                                width="284"
                                height="179"
                                alt="津カントリー倶楽部　大浴場"
                            />

                            <div class="thumbnail__ttl--wrap">
                                <p class="thumbnail__ttl--en">Big bath</p>
                                <p class="thumbnail__ttl--ja">大浴場</p>
                            </div>
                        </a>
                    </li>
                    <li class="thumbnail__item">
                        <a href="" class="thumbnail__link">
                            <img
                                src="{{'loge-villa.jpg' | asset_img_url: '2000x'}}"
                                width="284"
                                height="179"
                                alt="津カントリー倶楽部　貴賓室「初紅葉」"
                            />

                            <div class="thumbnail__ttl--wrap">
                                <p class="thumbnail__ttl--en">VIP room</p>
                                <p class="thumbnail__ttl--ja">
                                    貴賓室「初紅葉」
                                </p>
                            </div>
                        </a>
                    </li>
                    <li class="thumbnail__item">
                        <a href="" class="thumbnail__link">
                            <img
                                src="{{'loge-villa.jpg' | asset_img_url: '2000x'}}"
                                width="284"
                                height="179"
                                alt="津カントリー倶楽部　ゴルフコース"
                            />

                            <div class="thumbnail__ttl--wrap">
                                <p class="thumbnail__ttl--en">Golf course</p>
                                <p class="thumbnail__ttl--ja">ゴルフコース</p>
                            </div>
                        </a>
                    </li>
                </ul>
            </section>

            <a href="{{pages.course.url}}" class="btn facilities__btn">コースガイド</a>
        </main>

